:root {
  --brand-color: #2196f3;
  --subheading-color: #212121;
  --white-color: #ffffff;
  --contact-nav-color: #757575;
  --black-color: #000;
  --background-color: #f5f4fa;
  --icon-color: #afb1b8;
  --footer-color: #2f303a;
  --portofolio-color: #ececec;
}

/* header stilization */
.page-header {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

/* Logo */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}
.logo .logo-web {
  color: var(--brand-color);
}
.logo .logo-studio {
  color: var(--black-color);
}

/* Menu */
.menu,
.social-menu {
  display: none;
}

.menu {
  padding: 0px;
}
.menu__link {
  color: var(--subheading-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.menu__link:hover {
  color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-menu {
  padding: 0px;
}
.social-menu__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--contact-nav-color);
}
.social-menu__link:hover {
  color: var(--brand-color);
}
.social-menu__icon {
  fill: currentColor;
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.social-menu__icon:first-child {
  width: 14px;
  height: 10px;
}
.social-menu__icon:last-child {
  width: 10px;
  height: 14px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 50px;
  }
  .social-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
  .logo {
    margin-right: 93px;
  }
}
@media screen and (min-width: 1024px) {
  .social-menu {
    flex-direction: row;
    gap: 40px;
  }
}
/* Modal stilization */
/* Stilizarea ferestrei */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal::before {
  content: " ";
}
.modal-inner {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  position: relative;
}
.modal-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 10px;
}
.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--subheading-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

/* Stilizarea formularului */
.form-container {
  display: flex;
  flex-direction: column;
}

.form-information {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  gap: 10px;
}
.form-information label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  padding: 0px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--contact-nav-color);
  position: relative;
  outline: none;
  box-shadow: none;
}
.form-information label svg {
  position: absolute;
  top: 25px;
  left: 15px;
  height: 20px;
  width: 20px;
  fill: #212121;
}
.form-information label:hover svg, .form-information label:focus-within svg {
  fill: var(--brand-color);
}
.form-information input,
.form-information textarea {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  box-shadow: none;
}
.form-information input {
  height: 40px;
  padding-left: 45px;
}
.form-information input:hover, .form-information input:focus {
  border: 1px solid var(--brand-color);
  cursor: pointer;
}
.form-information textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.form-information textarea:hover, .form-information textarea:focus {
  border: 1px solid var(--brand-color);
  cursor: pointer;
}
.form-information textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-information textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-information textarea:focus::-moz-placeholder, .form-information textarea:hover::-moz-placeholder {
  color: var(--brand-color);
}
.form-information textarea:focus::placeholder, .form-information textarea:hover::placeholder {
  color: var(--brand-color);
}

.form-button {
  padding: 10px 80px;
  max-width: 200px;
  height: 50px;
  align-self: center;
}

/* Stilizare terms and conditions */
.form-check {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-direction: row;
  gap: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .form-checkbox-replace {
  border-color: var(--brand-color);
  background-color: var(--brand-color);
}

.form-checkbox-replace {
  display: inline-block;
  border: 1.5px solid #212121;
  width: 14px;
  height: 14px;
  align-self: center;
  border-radius: 2px;
}
.form-checkbox-replace svg {
  position: relative;
  bottom: 3px;
  right: 0.5px;
}
.form-checkbox-replace .colored-terms {
  color: var(--brand-color);
  text-decoration: underline;
}

/* Fereastra mobile menu */
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px 15px;
  background-color: white;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu--1 {
  margin-top: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--subheading-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.mobile-menu .link:hover {
  color: var(--brand-color);
}

.mobile-menu .link1 {
  font-size: 30px;
  line-height: 1.17;
  color: var(--brand-color);
}

.mobile-menu .link2 {
  font-size: 24px;
  line-height: 1.16;
  color: var(--contact-nav-color);
}
.mobile-menu .link2:hover {
  color: var(--contact-nav-color);
}

.close-menu {
  background: transparent;
  box-shadow: none;
  position: relative;
  left: 85%;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  color: var(--subheading-color);
  margin-bottom: 0px;
}
.close-menu:hover {
  color: var(--brand-color);
}

.close-menu > svg {
  fill: currentColor;
}

.menu-container .social-links {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 64px;
  margin-bottom: 48px;
}
.menu-container .social-links a {
  color: var(--brand-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-container .social-links .link3 {
  border-right: none !important;
}

/* Strong points stilization */
/* aka asset */
.asset {
  margin-top: 60px;
  margin-bottom: 60px;
}
.asset__grid {
  gap: 10px;
}
.asset .grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.asset__icon {
  width: 70px;
  height: 70px;
}
.asset__icon__div {
  border-radius: 4px;
  background-color: var(--background-color);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* What we do section */
.what-we-do-container {
  display: none;
}

.what-we-do-grid {
  display: flex;
  padding: 0px;
  justify-content: space-between;
}
.what-we-do-grid .grid__item {
  max-width: 30%;
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  height: 294px;
  margin: 0px;
}

.what-we-do-overlay {
  position: absolute;
  bottom: 0px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.what-we-do-overlay p {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .what-we-do-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 94px;
    align-items: center;
    justify-content: center;
  }
}
/* Our team stilization */
.our-team {
  padding: 60px 0;
  background-color: var(--background-color);
}
.our-team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.our-team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(----subheading-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.our-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--contact-nav-color);
}

.our-team__grid {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;
}
.our-team__grid .grid__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__grid .icon-grid {
  margin-bottom: 24px;
  margin-top: 16px;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  .our-team {
    padding: 94px 0;
  }
  .our-team .container {
    gap: 50px;
  }
  .our-team__grid .grid__item {
    max-width: 270px;
  }
}
/* Customers section */
.customers {
  margin-bottom: 60px;
  margin-top: 60px;
}
.customers .subtitle {
  text-align: center;
}
.customers .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.customers-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  gap: 30px;
  justify-content: center;
}
.customers-grid__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 50px;
}
.customers-grid__item:hover {
  color: var(--brand-color);
  border-color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .customers .customers-grid__item {
    padding: 16px 56px;
  }
}
@media screen and (min-width: 1024px) {
  .customers {
    margin-top: 94px;
    margin-bottom: 94px;
  }
  .customers .customers-grid__item {
    padding: 16px 30px;
  }
}
/* Footer section */
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.footer .title {
  color: var(--white-color);
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}
.footer-links .logo-studio {
  color: var(--white-color);
}
.footer-links__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.footer-links .footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-links .footer-link1 {
  color: var(--white-color);
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-social-media .icon-grid {
  gap: 10px;
}
.footer-social-media .icon-grid__link {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}
.footer-social-media .icon-grid__link:hover {
  background-color: var(--brand-color);
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.subscribe .title {
  color: var(--white-color);
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}
.subscribe__form input {
  background-color: transparent;
  height: 50px;
  width: 100%;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.subscribe__form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.subscribe__form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.footer__button {
  color: var(--white-color);
  padding: 10px 28px 10px 43px;
}
.footer__button svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-left: 25px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer-links .logo {
    margin-right: 0px;
  }
  .footer .footer-social-media {
    margin-bottom: auto;
  }
  .footer .subscribe {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .footer .container {
    gap: 90px;
  }
  .footer .footer-links {
    align-items: flex-start;
  }
  .footer .footer-links__list {
    align-items: flex-start;
  }
  .footer .footer-social-media {
    align-items: flex-start;
  }
  .footer .subscribe {
    align-items: flex-start;
    margin-bottom: auto;
    max-width: 550px;
  }
  .footer .subscribe__form {
    flex-direction: row;
  }
  .footer .subscribe__form input {
    max-width: 350px;
  }
}
/* button section */
.button-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 56px auto;
  padding-top: 94px;
  border-top: 1px solid var(--portofolio-color);
  justify-content: center;
}
.button-container-list {
  display: flex;
  gap: 8px;
}
.button-container .button-nav {
  padding: 6px 22px;
  color: var(--subheading-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
  background-color: var(--background-color);
}
.button-container .button-nav:hover {
  color: var(--white-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Products section */
.products-grid {
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 60px;
}
.products-grid .grid-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #eeeeee;
  width: 100%;
}
.products-grid .grid-item .subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--subheading-color);
  margin-top: 20px;
  margin-bottom: 4px;
  text-align: center;
}
.products-grid .grid-item .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--contact-nav-color);
  text-align: center;
  margin-bottom: 20px;
}

/* Overlay stilization */
.products-item .overlay {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  transform: translatey(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-item:hover .overlay {
  transform: translatex(0);
  cursor: pointer;
}
.products-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-item .hidden-text {
  width: 322;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 63px 24px 91px 24px;
}

@media screen and (min-width: 768px) {
  .products-grid .grid-item {
    max-width: 352px;
  }
}
@media screen and (min-width: 1024px) {
  .products-grid .grid-item {
    maxi-width: 370px;
  }
}
/* Hero section */
.hero {
  display: flex;
  max-width: 768px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: rgba(47, 48, 58, 0.4);
  background-image: url("../images/background-images/hero-480w.jpg");
  background-size: cover;
  background-position: center center;
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--white-color);
  max-width: 360px;
  text-align: center;
}
.hero__button {
  padding: 10px 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1024px;
    height: 400px;
    background-image: url("../images/background-images/hero-768w.jpg");
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: url("../images/background-images/hero-1600w.jpg");
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto";
}

ul {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

a {
  text-decoration: none;
}

p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.container {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-nav-color);
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--subheading-color);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}
.grid__item {
  flex: 1 1 100%;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-grid {
  display: flex;
  justify-content: center;
}
.icon-grid .icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.icon-grid__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
}
.icon-grid__link:hover {
  color: var(--white-color);
  background-color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button {
  display: flex;
  background-color: var(--brand-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  max-width: 200px;
}
.button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
  .grid__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - 30px) / 2);
    height: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  .grid__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100% - 90px) / 4);
  }
}/*# sourceMappingURL=main.css.map */