/* Our team stilization */
.our-team {
  padding: 60px 0;
  background-color: var(--background-color);
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(----subheading-color);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--contact-nav-color);
  }
}

.our-team__grid {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 1;

  .grid__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  .icon-grid {
    margin-bottom: 24px;
    margin-top: 16px;
    gap: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .our-team {
    padding: 94px 0;
    .container {
      gap: 50px;
    }
  }

  .our-team__grid {
    .grid__item {
      max-width: 270px;
    }
  }
}
