:root {
  --brand-color: #2196f3;
  --subheading-color: #212121;
  --white-color: #ffffff;
  --contact-nav-color: #757575;
  --black-color: #000;
  --background-color: #f5f4fa;
  --icon-color: #afb1b8;
  --footer-color: #2f303a;
  --portofolio-color: #ececec;
}
